#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  caret-color: transparent;
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #161616;
  cursor: pointer;
  transition: border-color 0.25s;
  height: 50px;
  width: 50px;
  margin: 5px;
}

input:hover {
  border-color: rgb(255, 255, 255);
}

.inputbox {
  height: 80px;
  font-size: 25px;
  width: 210px;
  background-color: transparent;
  text-align: right;
  outline: none;
}

.inputbox:hover {
  border-color: transparent;
}

.main {
  background-color: rgba(0, 0, 0, 0.2);
  height: 440px;
  width: 300px;
  border-radius: 25px;
}

.eq {
  width: 110px;
}